<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Page</title>
    <style>
        body {
            background-image: url("{{ background_url }}");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            height: 98vh;
        }
    </style>
</head>
<body>
        <pre>{{ pre_content }}</pre>
</body>
</html>
